*{
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-size: 100%;
}

p, label{
    font-size: 1.15em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h2{
    text-align: center;
    font-size: 2.5em;
    font-weight: normal;
    margin-top: 0.5em;
}

h3{
    text-align: center;
    padding: 0;
    margin-top: -1em;
    font-weight: normal;
}

input[type=number], select {
    margin-top: .8em;
    font-size: 1em;
}

div {
    background-color: #bac3ca; 
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1em;
    padding: 0.8em;
}

#divCalculation {
    font-weight: bold;
    font-size: 1.13em;
}

#errorMiles, #errorYear, #errorMpg, #errorPercent{
    color: rgb(46, 7, 7);
}
